*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

button{
  padding: 20px 30px;
  cursor: pointer;
  border: 1px solid white;
}

.container{
  margin-inline: auto;
  max-width: 500px;
  text-align: center;
  margin-top: 100px;
}

.header{
  font-size: 50px;
  margin-bottom: 20px;
}

.timer{
  margin-bottom: 30px;
}

.timer span{
  font-size: 40px;
}


